/* CSS Document */


A.style18:visited {FONT-WEIGHT: bold;font-size:12pt; text-decoration:none; color:blue; FONT-FAMILY: Arial} 

A.style18:active {FONT-WEIGHT: bold;font-size:12pt; text-decoration:none; color:blue; FONT-FAMILY: Arial}

A.style18:link {FONT-WEIGHT: bold;font-size:12pt; text-decoration:none; color:blue; FONT-FAMILY: Arial} 

A.style18:hover {FONT-WEIGHT: bold;font-size:12pt; text-decoration:underline; color:red; FONT-FAMILY: Arial} 
